@import "../../utils/mediaQueries.scss";
@import "../../utils/pixelsToRem.scss";
@import "../../utils/colors.scss";

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: rem(115) rem(50) rem(100) rem(50);

    @media (max-width: $tablet) {
        padding: rem(65) rem(50) rem(60) rem(50);
    }

    @media (max-width: $mobile) {
        padding: rem(30) rem(30) rem(30) rem(30);
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: rem(30);

    @media (max-width: $tablet) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        row-gap: rem(55);
    }
}

.videoWrapper {
    margin-top: rem(55);
    max-width: fit-content;
    border: 1px solid #ececec;

    @media (max-width: $mobile) {
        margin-top: rem(30);
    }
}

.videoImg {
    width: 682px;
    height: 455px;
    background-image: url('../../assets/jpg/video-desktop.jpg');

    @media (max-width: $tablet) {
        width: 668px;
        background-image: url('../../assets/jpg/video-tablet.jpg');
    }

    @media (max-width: $mobile) {
        width: 260px;
        height: 150px;
        background-image: url('../../assets/jpg/video-mobile.jpg');
    }
}

.cameraIcon {
    width: 32px;
    height: 22px;
    background-image: url('../../assets/png/video.png');
}