@import "../../../utils/mediaQueries.scss";
@import "../../../utils/pixelsToRem.scss";
@import "../../../utils/colors.scss";

.section {
    position: relative;
    
    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: rem(72) rem(50) 0 rem(225);
    position: relative;
    display: flex;

    @media (max-width: $tablet) {
        padding: rem(10) rem(50) 0 rem(50);
    }

    @media (max-width: $mobile) {
        min-width: rem(220);
        padding: rem(30) rem(30) 0 rem(30);
        flex-direction: column;
    }
}

.leftSide {
    @media (max-width: $tablet) {
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    margin-left: -175px;

    @media (max-width: $tablet) {
        width: 100%;
        min-width: rem(590);
        margin-left: 0px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    @media (max-width: $mobile) {
        min-width: rem(0);
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

.week {
    max-width: 75px;
    margin: rem(12) rem(50) 0 rem(50);
    font-size: rem(17);
    line-height: rem(17);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $app-green;

    @media (max-width: $tablet) {
        margin: rem(12) rem(28) 0 rem(28);
    }

    @media (max-width: $mobile) {
        max-width: 150px;
        margin: 0;
        margin-top: rem(10);
    }
}

.h2 {
    margin-left: -5px;
    font-size: rem(53);
    line-height: rem(57);

    @media (max-width: $tablet) {
        min-width: rem(460);
        font-size: rem(43);
        line-height: rem(50);
    }

    @media (max-width: $mobile) {
        min-width: rem(260);
        font-size: rem(25);
        line-height: rem(30);
        letter-spacing: normal;
        margin: 0;
    }
}

.text {
    max-width: rem(290);
    font-size: rem(17);
    line-height: rem(30);

    @media (max-width: $mobile) {
        max-width: none;
        font-size: rem(15);
        line-height: rem(24);
    }
}

.specs {
    max-width: rem(292);
    font-size: rem(15);
    line-height: rem(20);
    position: relative;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile) {
        max-width: none;
        min-width: rem(260);
    }
}

.specRow {
    padding: rem(12) 0;
    box-shadow: 0px 1px 0px #f1f1f1;
    display: grid;
    grid-template-columns: 98px 1fr;
}

.price {
    max-width: rem(292);
    margin-top: rem(90);
    display: flex;
    justify-content: center;

    @media (max-width: $tablet) {
        margin-top: rem(27);   
    }

    @media (max-width: $mobile) {
        max-width: 100%;
        margin-top: rem(360);
    }
}

.priceText {
    font-size: rem(20);
    line-height: rem(24);
    font-weight: bold;
    color: $font-grey;
}

.button {
    max-width: rem(292);
    margin-top: rem(21);

    @media (max-width: $mobile) {
        max-width: 100%;
        min-width: rem(260);
        margin-top: rem(0);
    }
}

.image {
    position: absolute;
    right: rem(50);
    width: 525px;
    height: 636px;
    background-image: url('../../../assets/jpg/triple-set-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

    @media (max-width: $tablet) {
        width: 333px;
        height: 404px;
        margin-top: rem(145);
        background-image: url('../../../assets/jpg/triple-set-tablet.jpg');
    }

    @media (max-width: $mobile) {
        width: 90%;
        height: 315px;
        background-image: url('../../../assets/jpg/triple-set-mobile.jpg');
        top: rem(200);
        left: rem(30);
    }
}

.zigzig {
    max-width: 1050px;
    height: rem(23);
    margin: 0 auto;
    margin-top: rem(73);
    background-image: url('../../../assets/png/zigzag-line-desktop.png');

    @media (max-width: $mobile) {
        width: 100vw;
        min-width: rem(320);
        height: rem(6);
        margin-top: rem(45);
        background-position: center;
        background-size: contain;
    }
}
