@import "../../utils/mediaQueries.scss";
@import "../../utils/pixelsToRem.scss";
@import "../../utils/colors.scss";

.container {
    margin: 0 auto;
    position: relative;
    max-width: rem(1150);
    padding: 0 rem(50) 0 rem(225);

    @media (max-width: $tablet) {
        padding-left: rem(220);
    }

    @media (max-width: $mobile) {
        max-width: 100%;
        padding: 0 rem(30);
    }
}

.textContainer {
    padding-right: rem(225);

    @media (max-width: $tablet) {
        padding-right: rem(50);
    }

    @media (max-width: $mobile) {
        padding: 0 rem(30);
    }
}

.p {
    margin-top: rem(80);
    max-width: rem(700);
    font-size: rem(17);
    line-height: rem(30);

    @media (max-width: $tablet) {
        margin-top: rem(40);
    }

    @media (max-width: $mobile) {
        margin-top: rem(30);
        margin-bottom: rem(30);
        font-size: rem(13);
        line-height: rem(24);
    }
}

.bottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(50);

    @media (max-width: $mobile) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        gap: rem(20);
        margin-top: -20px;
    }
}

.bottomButton {
    width: rem(230);

    @media (max-width: $tablet) {
        margin-left: -175px;
    }

    @media (max-width: $mobile) {
        width: 100%;
        margin-left: 0px;
    }
}

.bottomSpan {
    font-size: rem(17);
    line-height: rem(30);

    @media (max-width: $mobile) {
        font-size: rem(14);
        line-height: rem(16);
    }
}