@import "../../utils/mediaQueries.scss";
@import "../../utils/pixelsToRem.scss";
@import "../../utils/colors.scss";

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 rem(50);
    max-width: 1150px;
    box-shadow: 0px 1px 0px rgba($color: $font-grey, $alpha: 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    width: rem(149);
    height: rem(72);
    background-image: url("../../assets/png/mishka-logo-desktop.png");

    @media (max-width: $tablet) {
        width: rem(113);
        height: rem(46);
        background-image: url("../../assets/png/mishka-logo-tablet.png");
    }

    @media (max-width: $mobile) {
        width: rem(85);
        height: rem(35);
        background-image: url("../../assets/png/mishka-logo-mobile.png");
    }
}

.list {
    margin: 0;
    padding: 0;
    height: rem(88);
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(70);

    @media (max-width: $tablet) {
        width: 100vw;
        justify-content: space-between;
    }
}

.desctopList {
    @media (max-width: $tablet) {
        display: none;
    }
}

.catalog {
    &::after {
        content: '';
        width: rem(1);
        height: rem(88);
        margin-left: rem(35);
        background-color: $font-grey;
        opacity: 0.1;
        position: absolute;
        top: 0;
    }
}

.link {
    font-weight: bold;
    font-size: rem(17);
    line-height: rem(24);
    text-decoration: none;
    color: black;

    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.3;
    }
}

.rightNav {
    height: rem(88);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: rem(62);

    @media (max-width: $mobile) {
        display: none;
    }
}

.searchIcon {
    opacity: 0.5;
    vertical-align: middle;
    &:hover * {
        fill: $app-green;
    }
}

.searchIcon * {
    fill: $font-grey;
}

.cartIcon:hover {
    fill: $app-green;
}

.cart {
    display: flex;
    gap: 30px;
    align-items: center;

    &::before {
        content: '';
        width: rem(1);
        height: rem(88);
        background-color: $font-grey;
        opacity: 0.1;
        position: absolute;
        top: 0;
        right: rem(310);
    }

    &::after {
        content: '';
        width: rem(1);
        height: rem(88);
        background-color: $font-grey;
        opacity: 0.1;
        position: absolute;
        top: 0;
        right: rem(395);
    }
}

.burgerMenu {
    display: none;

    @media (max-width: $mobile) {
        display: block;
        height: rem(80);
        border: none;
        background-color: #fff;
    }
}