@import "../../../../utils/mediaQueries.scss";
@import "../../../../utils/pixelsToRem.scss";
@import "../../../../utils/colors.scss";

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

input {
    font-size: rem(19);
    line-height: rem(18);

    &::placeholder {
        color: #444444;
        opacity: 0.3;
    }    
}

.container {
    margin: 0 auto;
    position: relative;
    max-width: rem(1150);
    padding: 0 rem(50) 0 rem(225);

    @media (max-width: $tablet) {
        padding-left: rem(220);
    }

    @media (max-width: $mobile) {
        max-width: rem(320);
        padding: 0 rem(30);
    }
}

.fieldset {
    margin: 0;
    padding: rem(50) 0;
    border: none;
    position: relative;

    @media (max-width: $mobile) {
        padding: rem(35) 0;
    }
}

.legendWrapper {
    @media (max-width: $mobile) {
        display: flex;
    }
}

.legend {
    position: absolute;
    top: 18px;
    left: 110px;
    font-size: rem(17);
    line-height: rem(16);
    font-weight: bold;
    text-transform: uppercase;
    color: $app-green;

    @media (max-width: $tablet) {
        left: 50px;
    }

    @media (max-width: $mobile) {
        position: relative;
        top: -36px;
        left: 0px;
    }
}

.greenDivider {
    display: none;

    @media (max-width: $mobile) {
        display: block;
        width: 100%;
        margin-top: -28px;
        margin-left: 20px;
        box-shadow: inset 0px 1px 0px $app-green;
    }
}

.radioButtons {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: $tablet) {
    }

    @media (max-width: $mobile) {
        margin-left: rem(0);
        gap: 20px;
    }
}

.label {
    font-size: rem(19);
    line-height: rem(18);
    font-weight: bold;
    display: grid;
    grid-template-columns: fit-content(55px) 1fr;
    align-items: center;
    gap: 24px;

    @media (max-width: $mobile) {
        gap: 22px;
    }
}

.inputRadio:hover + .radio {
    border: 2px solid $app-green;
}

.inputRadio:checked + .radio {
    background-image: url('../../../../assets/png/green-dot.png');
    background-position: center;
    background-repeat: no-repeat;
}

.inputRadio:disabled + .radio {
    border: 2px solid $bg-grey;
}

.radio {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #444444;
    border-radius: 50%;
}
