@import "../../utils/mediaQueries.scss";
@import "../../utils/pixelsToRem.scss";
@import "../../utils/colors.scss";

.section {
    margin-top: rem(80);
}

.container {
    height: rem(457);
    position: relative;
    max-width: rem(1150);
    margin: 0 auto;
    padding: rem(25) rem(50) 0 rem(225);
    background-image: url('../../assets/jpg/review.jpg');
    background-repeat: no-repeat;
    background-position: 50px 0;

    @media (max-width: $tablet) {
        padding: rem(25) rem(50) 0 rem(50);
        background-position: 0 0;
    }

    @media (max-width: $mobile) {
        min-width: rem(320);
        max-width: rem(320);
        margin-top: rem(60);
        padding: 0 rem(30);
        background-image: none;
    }
}

.textContainer {
    min-height: rem(275);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $mobile) {
        min-height: rem(0);
    }
}

.h2 {
    font-size: rem(53);
    line-height: rem(57);

    @media (max-width: $tablet) {
        font-size: rem(43);
        line-height: rem(50);
        margin-left: -3px;
    }

    @media (max-width: $mobile) {
        font-size: rem(25);
        line-height: rem(30);
        margin-bottom: rem(40);
    }
}

.p {
    max-width: rem(780);
    font-size: rem(17);
    line-height: rem(30);

    @media (max-width: $mobile) {
        margin-top: -20px;
    }
}

.authorArrows {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        gap: rem(40);
    }
}

.name {
    font-size: rem(17);
    font-weight: bold;
    margin-bottom: rem(10);
}

.arrows {
    margin-top: rem(10);

    & button {
        width: rem(130);
        height: rem(50);
        background: transparent;
        color: transparent;
        border: none;
        background-image: url('../../assets/png/arrow-right.png');
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.3;
        }

        @media (max-width: $mobile) {
            border: 1px solid #ececec;
        }
    }
}

.leftArrow {
    transform: rotate(180deg);
}

.button {
    width: rem(175);
    position: absolute;
    top: 80px;
    right: 50px;

    @media (max-width: $mobile) {
        width: rem(260);
        position: relative;
        top: 40px;
        right: 0;
    }
}

.zigzig {
    max-width: 1050px;
    height: rem(23);
    margin: 0 auto;
    margin-top: rem(73);
    background-image: url('../../assets/png/zigzag-line-desktop.png');

    @media (max-width: $tablet) {
        width: 100vw;
    }

    @media (max-width: $mobile) {
        min-width: rem(320);
        height: rem(6);
        margin-top: rem(240);
        background-position: center;
        background-size: contain;
    }
}
